@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poiret+One&family=Sen&family=Space+Grotesk&display=swap");
body * {
  margin: 0;
  font-family: "Sen", sans-serif;
}
@media only screen and (max-width: 800px) {
  body * {
    overflow-x: hidden;
  }
}

body {
  background-color: #020024;
}

.section-block,
.section-subblock,
.section-hero {
  padding: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-mission {
  padding-top: 10rem;
}

.section-subblock {
  margin-bottom: 10rem;
}

.section-loading {
  min-height: 100vh;
}

.arrow-button {
  position: relative;
  display: block;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.arrow-button.arrow {
  background-image: url("https://static-cdn.wdh.gg/assets/arrow_down.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow-button.link {
  cursor: pointer;
  height: 40px;
  width: 50px;
  line-height: 60px;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  animation: move_down 3s ease-in-out infinite;
}
@keyframes move_down {
  0% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -20px);
  }
}
.arrow-button:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.arrow-button:hover:after {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.arrow-wrapper {
  margin-bottom: 2rem;
}
@media (min-width: 800px) {
  .arrow-wrapper {
    width: 10%;
  }
}
.arrow-wrapper a {
  display: flex;
  justify-content: flex-start;
}

.hero-inner {
  margin-bottom: 3rem;
}

.section-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-block h2 {
  font-size: 24px;
}
.section-block--contact {
  min-height: 60vh;
}

.main-wrapper {
  width: 100%;
  margin-top: 0;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

iframe {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  border: 0 !important;
}

.wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  scroll-behavior: smooth;
  background: hsl(243, 100%, 7%);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.123) 0%, rgb(2, 0, 36) 40%, rgb(47, 19, 131) 100%);
  position: absolute;
  z-index: 12;
}
.wrapper * {
  color: #dde6ee;
}

.block-inner-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.block-inner-wrapper--bottom {
  align-items: flex-end;
}

.block-inner {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.tag {
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.block-inner-wrapper--bottom .column {
  margin-left: 0;
}

.logo {
  width: 2rem;
  height: 2rem;
}
.logo svg {
  width: 2rem;
  height: 2rem;
}
.logo svg path {
  stroke-width: 30;
  stroke: #dde6ee;
}

.navigation-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s linear;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 30;
}

.display {
  position: initial;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  transition: background-color 0.3s linear;
}
.nav-wrapper a {
  text-decoration: none;
  color: #dde6ee;
  display: block;
  margin: 0.5rem;
  margin-left: 0;
  margin-right: 1.5rem;
  text-transform: lowercase;
}
.nav-wrapper a li {
  list-style-type: none;
  font-size: 18px;
  transition: 0.3s linear;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper a li {
    font-size: 24px;
  }
}
.nav-wrapper a:hover li {
  color: rgb(18, 184, 255);
  transition: 0.3s linear;
}
.nav-wrapper.bg-dark .nav-link--end {
  margin-left: auto;
  margin-right: 0;
}
.nav-wrapper.bg-dark .nav-link--end li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  border-image-source: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-wrapper.bg-dark .nav-link--end li:hover {
  background: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
  color: #421fac;
  -webkit-background-clip: none;
  -webkit-text-fill-color: rgb(47, 19, 131);
}

@media only screen and (max-width: 768px) {
  .nav-wrapper a:not(.nav-link--end) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .nav-wrapper a:not(.nav-link--end) li {
    padding-right: 0 !important;
  }
  .navigation-wrapper {
    justify-content: space-between !important;
    padding: 1rem 2rem !important;
    padding-bottom: 3rem;
  }
  .nav-link--end {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 800px) {
  .nav-wrapper.bg-light {
    background-color: #5effe8;
    background: linear-gradient(180deg, #5effe8 0%, #5effe8);
    padding-bottom: 0;
    transition: background-color 0.3s linear;
  }
  .nav-wrapper.bg-light .navigation-wrapper {
    padding-top: 0rem;
    padding-bottom: 0rem;
    transition: 0.3s linear;
  }
  .nav-wrapper.bg-light .logo svg path {
    stroke: #020024;
  }
  .nav-wrapper.bg-light a li {
    color: #020024;
    transition: 0.3s linear;
  }
  .nav-wrapper.bg-light a:hover li {
    color: blue;
    transition: 0.3s linear;
  }
  .nav-wrapper.bg-light .nav-link--end {
    margin-left: auto;
    margin-right: 0;
  }
  .nav-wrapper.bg-light .nav-link--end li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-image-source: linear-gradient(45deg, #221787, #221787);
    background: -webkit-linear-gradient(0deg, #221787, #221787);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #5effe8;
    color: #5effe8;
  }
  .nav-wrapper.bg-light .nav-link--end li:hover {
    border-image-source: linear-gradient(45deg, #12b8ff, #12b8ff);
    background: -webkit-linear-gradient(0deg, #12b8ff, #12b8ff);
    -webkit-text-fill-color: #221787;
    color: #221787;
  }
}
.post-preview ul {
  padding-left: 0;
}
.post-preview ul li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 0.5rem;
}
.post-preview ul li div {
  font-size: 20px;
}
.post-preview ul li::before {
  content: "";
  display: flex;
  height: 0.3rem;
  width: 0.3rem;
  min-height: 0.3rem;
  min-width: 0.3rem;
  border: 2px solid #12b8ff;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
@media only screen and (min-width: 800px) {
  .post-preview ul li::before {
    margin-left: -1.5rem;
  }
}

.section-hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.section-hero h1 {
  font-size: 11rem;
  margin-top: 0;
  margin-bottom: 0;
}
.section-hero h3 {
  font-size: 2.5rem;
}

.hero-inner {
  width: 70%;
}
.hero-inner h1 {
  font-size: 190px;
  margin-left: -15px;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-inner h3 {
  font-size: 35px;
  font-weight: 300;
  width: 70%;
}

h2.mission-statement {
  font-size: 65px;
  line-height: 1;
}

h3.text-statement {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 3.5rem;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.important-section {
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 800px) {
  .important-section {
    padding-top: 5rem;
  }
}
.important-section span {
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.important-section h3 {
  width: 85%;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.important-section h4 {
  font-size: 20px;
  margin-bottom: 1.5rem;
  width: 50%;
}
.important-section ul {
  padding-left: 1.5rem;
  width: 60%;
}
.important-section p,
.important-section li {
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.section-offer .offer-heading {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 6.5rem;
  width: 50%;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-offer .columns-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section-offer .line {
  margin-bottom: 3rem;
  width: 30%;
}
.section-offer .line h3 {
  font-size: 32px;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.section-offer .line p {
  font-size: 18px;
}
.section-offer .special-request {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5rem;
  padding-top: 1rem;
  width: 22rem;
  border-top: 1px solid rgb(165, 196, 228);
}
.section-offer .special-request a {
  margin-top: 1rem;
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-advantages {
  padding-top: 13rem;
  padding-bottom: 0;
}
.section-advantages .block-inner-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-advantages .column {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-size: 18px;
  width: 48%;
}
@media only screen and (min-width: 800px) {
  .section-advantages .column > div {
    margin-left: 3rem;
  }
}
.section-advantages .column p {
  font-size: 18px;
  line-height: 1.4;
}
.section-advantages .column span {
  font-family: "Poiret One", sans-serif;
  font-weight: 300;
  font-size: 148px;
  font-weight: 300;
  opacity: 0.3 !important;
  line-height: 0.9;
}
@media only screen and (max-width: 800px) {
  .section-advantages .column span {
    font-size: 68px;
    margin-bottom: 2rem;
  }
}
.section-advantages .column h3 {
  position: relative;
  z-index: 10;
  font-size: 35px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 800px) {
  .section-advantages .column h3 {
    margin-top: -4rem;
  }
}

.section-services {
  padding-top: 0;
}
.section-services .tag {
  padding-top: 10rem;
}
.section-services h3.offer-heading {
  width: 70%;
  font-size: 36px;
  font-weight: 300;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-services .columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.section-services .dot {
  border: 3px solid rgba(221, 230, 238, 0.5);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: block;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poiret One", sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: rgba(221, 230, 238, 0.5);
}
.section-services .line {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  width: 33%;
  padding-top: 1.5rem;
}
.section-services .line h3 {
  font-size: 30px;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.section-services .line ul {
  padding-right: 5rem;
}
@media only screen and (min-width: 800px) {
  .section-services .line ul {
    padding-left: 1.5rem;
  }
}
.section-services .line p,
.section-services .line li {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
.section-services .line .button {
  margin-top: 1rem;
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-services .additional-services {
  border-top: 1px solid rgb(165, 196, 228);
  margin-top: 3rem;
  margin-bottom: 0;
  display: flex;
}
.section-services .additional-services .line {
  width: 33%;
  margin-top: 0;
  padding-top: 3rem;
}
.section-services .additional-services .line h4 p {
  font-size: 20px;
  width: 100%;
  line-height: 1.4;
}
.section-services .additional-services .line .button {
  font-size: 19px;
  font-weight: 600;
}

.technologies-block {
  padding-top: 15rem;
}

.left-column {
  width: 35%;
  padding-right: 5rem;
}
.left-column h3 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 2rem;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.right-column {
  width: 65%;
}
.right-column svg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1200px;
}
.right-column svg .red,
.right-column svg .green {
  transition: 0.3s ease-in-out;
}
.right-column .image-before {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-column .image-before .cover-image-after {
  display: none;
}
.right-column .image-before .cover-image-before {
  display: initial;
}
.right-column .image-before .toggle-buttons {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.right-column .image-before .toggle-buttons h4 {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 2px solid transparent;
}
.right-column .image-before .toggle-buttons h4:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.right-column .image-before .toggle-buttons h4.toggle-button-before {
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}
.right-column .image-before .toggle-buttons h4.toggle-button-before:hover {
  border-bottom: none;
}
.right-column .image-after {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-column .image-after svg .green {
  fill: #96ff94;
  transition: 0.6s ease-in-out;
}
.right-column .image-after svg .red {
  fill: #2af4d9;
  transition: 0.3s ease-in-out;
}
.right-column .image-after .cover-image-before {
  display: none;
}
.right-column .image-after .cover-image-after {
  display: initial;
}
.right-column .image-after .toggle-buttons {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.right-column .image-after .toggle-buttons h4 {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 2px solid transparent;
}
.right-column .image-after .toggle-buttons h4:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.right-column .image-after .toggle-buttons h4.toggle-button-after {
  background: -webkit-linear-gradient(0deg, #12b8ff, #96ff94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}
.right-column .image-after .toggle-buttons h4.toggle-button-after:hover {
  border-bottom: none;
}

.ml-block {
  padding-top: 11rem;
  padding-bottom: 7rem;
}
.ml-block .ml {
  padding-left: 3rem;
}
.ml-block h2 {
  z-index: 10;
  font-size: 32px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.ml-block h4 {
  font-size: 36px;
  font-weight: 300;
  width: 75%;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ml-block ul {
  padding-left: 1.5rem;
  width: 60%;
}
.ml-block p,
.ml-block li {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1rem;
}
.ml-block .ml-tag {
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.contact-block {
  border-top: 1px solid rgb(165, 196, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
}
.contact-block div {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-block h3 {
  text-transform: capitalize;
  font-size: 48px;
  padding-bottom: 1.5rem;
}
.contact-block h4 {
  font-weight: 300;
  font-size: 28px;
  padding-bottom: 5.5rem;
}
.contact-block a {
  padding: 3rem 4rem;
  margin: auto;
  cursor: pointer;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  text-transform: uppercase;
  font-size: 32px;
  text-decoration: none;
  border-image-source: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2s ease-in-out;
}
.contact-block a:hover {
  background: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
  color: rgb(66, 31, 172);
  -webkit-background-clip: none;
  -webkit-text-fill-color: rgb(47, 19, 131);
  transition: 2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 70px !important;
    margin-left: -6px !important;
  }
  h2.mission-statement {
    font-size: 42px !important;
  }
  .tag {
    padding-top: 5rem;
  }
  .navigation-wrapper {
    align-items: center !important;
    flex-wrap: wrap !important;
    padding: 1rem 1rem !important;
  }
  .columns-wrapper,
  .block-inner-wrapper {
    align-items: center !important;
    flex-wrap: wrap !important;
    padding: 0 !important;
  }
  .section-hero,
  .section-block {
    height: auto !important;
    padding: 1rem 1rem !important;
  }
  h3,
  h4,
  ul,
  .column,
  .line,
  .offer-heading,
  .block-inner,
  .hero-inner {
    width: 100% !important;
  }
  .section-hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-inner {
    margin-bottom: 3rem;
  }
  .arrow-wrapper {
    margin-bottom: 0;
  }
  .arrow-wrapper a {
    display: block;
  }
  .arrow-button {
    width: 3rem;
    height: 3rem;
  }
  .section-hero {
    padding-top: 10rem !important;
  }
  .line,
  .section-subblock {
    margin-bottom: 0 !important;
  }
  .additional-services {
    margin-bottom: 0 !important;
    flex-wrap: wrap !important;
  }
  .right-column,
  .left-column {
    padding-right: 0 !important;
    width: 100% !important;
  }
  .left-column {
    padding-bottom: 2.5rem;
  }
  .ml {
    padding-left: 0 !important;
  }
  .contact-heading {
    padding-top: 5rem !important;
    padding-bottom: 3rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .contact-heading h3,
  .contact-heading h4 {
    text-align: center !important;
    padding-bottom: 0 !important;
  }
  .right-column svg {
    width: 100% !important;
  }
  .right-column .toggle-buttons {
    width: 100% !important;
  }
  .right-column .toggle-buttons h4 {
    padding: 0 !important;
    font-size: 16px !important;
    text-align: center !important;
  }
  .left-column .tag {
    padding-top: 8rem !important;
  }
  .nav-wrapper a {
    text-transform: uppercase !important;
  }
  .contact-block h4 {
    margin-top: 2rem;
  }
  .contact-block a {
    padding: 2rem 3rem;
  }
}
.footer-inner {
  background: #020024;
}
.footer-inner .footer-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.footer-inner .footer-wrapper a {
  text-decoration: none;
  color: #dde6ee;
  opacity: 0.5;
}
.footer-inner .footer-wrapper a:hover {
  opacity: 1;
  color: #12b8ff;
}/*# sourceMappingURL=App.css.map */