@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poiret+One&family=Sen&family=Space+Grotesk&display=swap');
body *{
  margin: 0;
  font-family: 'Sen', sans-serif;
}

// Overall

.section-block,
.section-subblock,
.section-hero {
  padding: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-mission {
  padding-top: 10rem;
}

.section-subblock {
  margin-bottom: 10rem;
}

.section-loading {
  min-height: 100vh;
}


.arrow-button {

    // position: absolute;
    position: relative;
    display: block;
    border: 2px solid #dde6ee;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    &:after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 20px;
      height: 20px ;
      top: 50%;
      left: 50%;
      margin-left: -11px;;
      margin-top: -15px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotateZ(45deg);
  }
}

.arrow-wrapper {
  width: 10%;
  margin-bottom: 15rem;
  a {
    display: block;
  }
}

.hero-inner {
  margin-bottom: 15rem;
}

.section-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 24px;
  }

  &--contact {
    height: 100vh;
  }
}

@media only screen and (max-width: 1500px) {
  .section-block {
    min-height: 100vh;
  }
}

.main-wrapper {
  width: 100%;
  // margin-left: 20%;
  margin-top: 0;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.wrapper {
  width: 100%;
  scroll-behavior: smooth;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(47, 19, 131) 100%);
  position: absolute;
  z-index: 12;

  * {
    color: #dde6ee;
  }
}

.block-inner-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  &--bottom {
    align-items: flex-end;
  }
}

.block-inner {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.tag {
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.block-inner-wrapper--bottom .column {
  margin-left: 0;
}



// Nav 

.logo {
  width: 4rem;
  height: 4rem;
  svg {
    width: 4rem;
    height: 4rem;

    path {
      stroke-width: 30;
      stroke: #dde6ee;
    }
  }
}

.navigation-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  position: sticky;
  top: 0;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #020024 0%, rgba(2,0,36,0) 85%);
  z-index: 30;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #dde6ee;
    display: block;
    margin: .5rem;
    margin-left: 0;
    margin-right: 1.5rem;
    text-transform: lowercase;

    li {
      list-style-type: none;
      font-size: 18px;
    }

    &:hover {
      li {
        color: rgb(18, 184, 255);
        transition: .3s linear;
      }
    }
  }

  .nav-link {
    &--end {
      margin-left: auto;
      margin-right: 0;

      li {
        padding: 1rem 1.5rem;
        cursor: pointer;
        border: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        border-image-source: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
        background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 2s ease-in-out;
      
        &:hover {
          background:  linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
          color: rgb(66, 31, 172);
          -webkit-background-clip: none;
          -webkit-text-fill-color: rgb(47, 19, 131);
          transition: 2s ease-in-out;
        }
      } 
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-wrapper {
    a:not(.nav-link--end) {
      margin-left: 0 !important;
      margin-right: 0 !important;

      li {
        padding-right: 0 !important;
      }
    }
  }

  .navigation-wrapper {
    justify-content: space-between !important;
    padding: 1rem  2rem !important;
    padding-bottom: 3rem;
  }

  .nav-link {
    &--end {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}






// Hero 

.section-hero {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  
  h1 {
    font-size: 9rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2.5rem;
  }
}

.hero-inner {
  width: 70%;
  h1 {
    font-size: 190px;
    margin-left: -15px;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-size:35px;
    font-weight: 300;
    width: 70%;
  }
}

// Mission

h2.mission-statement {
  font-size: 65px;
  line-height: 1;
}

h3.text-statement {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 3.5rem;
  background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.important-section {
  font-size: 18px;
  font-weight: 300;
  padding-top: 5rem;

  span {
    display: block;
    font-size: 16px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    // opacity: .6;
  }

  h3 {
    width: 85%;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 1.5rem;
    width: 50%;
  }

  ul {
    padding-left: 1.5rem;
    width: 60%;
  }

  p, li {
    font-weight: 300;
    padding-bottom: .5rem;
  }
}

// Offer and Services

.section-offer {
  .offer-heading {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 6.5rem;
    width: 50%;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .columns-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .line {
    margin-bottom: 3rem;
    width: 30%;

    h3 {
      font-size: 32px;
      margin-bottom: 1.5rem;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
    }
  }

  .special-request {
    font-size: 20px;
    font-weight: 300;
    margin-top: 5rem;
    padding-top: 1rem;
    width: 22rem;
    border-top: 1px solid rgb(165, 196, 228);

    a {
      margin-top: 1rem;
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


// Benefits


.section-advantages {
  padding-top: 7rem;
  .block-inner-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column {
    // margin-left: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    font-size: 18px;
    width: 48%;
    & > div {
      margin-left: 3rem;
    }

    span {
      font-family: 'Poiret One', sans-serif;
      font-weight: 300;
      //margin-left: -55px;
      font-size: 148px;
      font-weight: 300;
      opacity: .3;
      line-height: .9;

      //color: rgba(2,0,36,1)
    }

    h3 {
      position: relative;
      z-index: 10;
      font-size: 35px;
      margin-bottom: 1.5rem;
      margin-top: -4rem;
      text-transform: uppercase;
      background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


// Services

.section-services {
  .tag {
    padding-top: 10rem;
  }

  h3.offer-heading {
    width: 70%;
    font-size: 36px;
    font-weight: 300;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .columns-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dot {
    border: 3px solid rgba(#dde6ee, .5);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: rgba(#dde6ee, .5);
  }

  .line {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 30%;
    padding-top: 1.5rem;
    
    h3 {
      font-size: 30px;
      margin-bottom: 1.5rem;
      text-transform: capitalize;
    }

    ul {
      padding-left: 1.5rem;
    }

    p, li {
      font-size: 16px;
      font-weight: 300;
      padding-bottom: .5rem;
    }

    .button {
      margin-top: 1rem;
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .additional-services {
    border-top: 1px solid rgb(165, 196, 228);
    margin-top: 3rem;
    margin-bottom: 20rem;
    display: flex;
    // justify-content: space-between;
    // flex-direction: column;

    .line {
      width: 30%;
      padding-right: 5%;
      margin-top: 0;

      h4 p {
        font-size: 20px;
        width: 100%;
        line-height: 1.1;
      }

      .button {
        font-size: 19px;
        font-weight: 600;
      }
    }
  }
}

// Technology

.left-column {
  width:35%;
  padding-right: 5rem;

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 2rem;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
  }
}

.right-column {
  width: 65%;

  svg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;

    .red, .green {
      transition: .3s ease-in-out;
    }
  }

  .image-before {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover-image-after {
      display: none;
    }

    .cover-image-before {
      display: initial;
    }

    .toggle-buttons {
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: .3s ease-in-out;
  
      h4 {
        margin-top: 1.5rem;
        padding: 1.5rem 2rem;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        opacity: .6;
        border-bottom: 2px solid transparent;
  
        &:hover {
          opacity: 1;
          transition: .3s ease-in-out;
        }
  
        &.toggle-button-before {
          background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          pointer-events:none;
          cursor: default;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }

  .image-after {

    svg {
      .green {
        fill:#96ff94;
        transition: .6s ease-in-out;
      }
      .red {
        fill: #2af4d9;
        transition: .3s ease-in-out;
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    .cover-image-before {
      display: none;
    }

    .cover-image-after {
      display: initial;
    }

    .toggle-buttons {
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: .3s ease-in-out;
  
      h4 {
        margin-top: 1.5rem;
        padding: 1.5rem 2rem;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        opacity: .6;
        border-bottom: 2px solid transparent;
  
        &:hover {
          opacity: 1;
          transition: .3s ease-in-out;
        }
  
        &.toggle-button-after {
          background: -webkit-linear-gradient(0deg, #12b8ff, #96ff94);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          pointer-events:none;
          cursor: default;
          &:hover {
            border-bottom: none;
      
          }
        }
      }
    }
  }
}


// Machine Learning 

.ml-block {

  .ml {
    padding-left: 3rem;
  }

  h2 {
    // position: relative;
    z-index: 10;
    font-size: 32px;
    margin-bottom: 1.5rem;
    // margin-top: -4rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 36px;
    font-weight: 300;
    width: 75%;
    line-height: 1.2;
    margin-bottom: 2.5rem;
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    padding-left: 1.5rem;
    width: 60%;
  }

  p, li {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 1rem;
   
    // width: 50%;
  }

  .ml-tag {
    font-size: 22px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

  }
}


// Contact Us Block

.contact-block {
  border-top: 1px solid rgb(165, 196, 228);
  margin-top: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  h3 {
    text-transform: capitalize;
    font-size: 48px;
    padding-bottom: 1.5rem;

  }

  h4 {
    font-weight: 300;
    font-size: 28px;
    padding-bottom: 5.5rem;
  }

  a {
    padding: 3rem 4rem;
    cursor: pointer;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    text-transform: uppercase;
    font-size: 32px;
    text-decoration: none;
    border-image-source: linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
    background: -webkit-linear-gradient(0deg, rgb(18, 184, 255), rgb(150, 255, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s ease-in-out;
  
    &:hover {
      background:  linear-gradient(45deg, rgb(18, 184, 255), rgb(150, 255, 148));
      color: rgb(66, 31, 172);
      -webkit-background-clip: none;
      -webkit-text-fill-color: rgb(47, 19, 131);
      transition: 2s ease-in-out;
    }
  }
}

//@at-root

@media only screen and (max-width: 800px) {

  h1 {
    font-size: 70px !important;
    margin-left: -6px !important;
  }

  h2.mission-statement {
    font-size: 42px !important;
  }

  .tag {
    padding-top: 5rem;
  }

  .columns-wrapper,
  .block-inner-wrapper,
  .navigation-wrapper {
    align-items: center !important;
    flex-wrap: wrap !important;
  }

  .section-hero,
  .section-block {
    height: auto!important;
  }

  h3,
  h4, 
  ul, 
  .column,
  .line,
  .offer-heading,
  .block-inner,
  .hero-inner {
    width: 100%!important;

  }

  .section-hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-inner {
    margin-bottom: 3rem;
  }

  .arrow-wrapper {
    margin-bottom: 0;
  }

  .arrow-button {
    width: 4rem;
    height: 4rem;
  }

  .section-hero {
    //padding-top: 5rem !important;
  }

  .line,
  .section-subblock {
    margin-bottom: 0 !important;
  }

  .additional-services {
    margin-bottom: 0 !important;
    flex-wrap: wrap !important;
  }

  .right-column,
  .left-column {
    padding-right: 0 !important;
    width:
     100%!important;
  }

  .left-column {
    padding-bottom: 2.5rem;
  }

  .ml {
    padding-left: 0 !important;
  }

  .contact-heading {
    padding-top: 5rem !important;

    padding-bottom: 5rem !important;
    display: flex !important;
     flex-direction: column !important;
     align-items: center !important;

     h3, h4 {
      text-align: center  !important;
      padding-bottom: 0 !important;
     }
  }

  .right-column {

  
    svg {
      width: 100% !important;
    }

    .toggle-buttons {
      width: 100% !important;
    }

    .toggle-buttons h4 {
      padding: 0  !important;
      font-size: 16px !important;
      text-align: center !important;
    }
    
  }

  .left-column {
    .tag {
      padding-top: 8rem !important;
    }
  }

  .nav-wrapper a {
    text-transform: uppercase !important;
  }
}